xtea.exe
.vscode/tasks.json

Dummy_controller/**
Dummy_controller/db
Dummy_controller/incremental_db
Dummy_controller/**.wlf
!Dummy_controller/*.vhd
!Dummy_controller/*.qsf
!Dummy_controller/*.qpf
!Dummy_controller/Scripts
!Dummy_controller/Serial
!Dummy_controller/Utils
!Dummy_controller/XTEA
